.notification-container {
    display:grid;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display:column;
    gap:10px;
    margin-left: 300px;
    margin-right:300px;

  }
  
  h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    margin-top:20px;
  }
  
  .notification-in {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .note-button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .note-button:hover {
    background-color: #0056b3;
  }
  
  .notification-list {
    list-style-type: none;
    padding: 0;
  }
  
  .notification-list li {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 768px) {
    .notification-container {
        
        gap:10px;
        margin:0px;
    
      }
      
}
  